#searchResults {
    display: none;
    visibility: hidden !important;
}

#time {
    display: visible;
    visibility: inline;
}

#query {
    display: block;
    outline: none;
    border-radius: 5px;
    border-style: none;
    height: 30px;
    width: 200px;
    padding: 0 16px;
    margin: 0 auto;
    border: solid;
}

#text {
    color: crimson
}

body {
    background-image: url("https://images.unsplash.com/photo-1568685002040-461ac67d2774?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=60");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

}
